<!-- AboutUsPage View -->
<div class="navigation d-flex flex-row justify-content-around w3-hide-small" id="navbar-fixed">
    <button class="p-3 m-2 btn btn-background-white nav-item" ng-click="back()"><strong>BACK</strong></button>
    <div class="ml-auto d-flex flex-row justify-content-end">
        <button class="p-3 m-2 btn btn-background-white nav-item" ng-click="login()"><strong>LOGIN</strong></button>
        <button class="p-3 m-2 btn btn-background-white nav-item" ng-click="register()"><strong>REGISTER</strong></button>
    </div>
</div>

<div id="navbar-menu-mobile">
    <div class="navigation justify-content-end w3-hide-medium w3-hide-large align-items-center">
        <div class="mr-auto">
            <img class="header-navimate-text-image" src="images/logo_text.png">
        </div>
        <div class="con">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
    </div>

    <div class="navigation justify-content-around w3-hide-medium w3-hide-large" id="navbar-fixed-scroll">
        <button class="p-3 m-1 btn btn-background-white w3-mobile" ng-click="back()"><strong>BACK</strong></button>
        <div class="ml-auto d-flex justify-content-end w3-mobile">
            <button class="p-3 m-1 btn btn-background-white w3-mobile" ng-click="login()"><strong>LOGIN</strong></button>
            <button class="p-3 m-1 btn btn-background-white w3-mobile" ng-click="register()"><strong>REGISTER</strong></button>
        </div>
    </div>
</div>

<div class="pb-3 card-container">
    <div class="card-content">
        <div class="d-flex flex-column align-items-center">
            <img class="title-image-icon" src="images/logo_icon_white.png"/>
            <div class="mt-3 d-flex w-100 justify-content-center">
                <div class="text-white text-right" style="width: 30em">
                    <strong>
                        Founded in 2017, Navimate aims to to create a single one-stop software solution for all the needs of a field team.
                        The project started out to build an app which can act as a personal location directory for an individual.
                        After experiencing the power of location technology and easy access in this age of smartphones, we realized the huge business potential that this sector provides.
                        Navimate for business is an initiative to build the perfect field operations management system that caters to the needs of all levels of employees in a company.
                    </strong>
                </div>

                <div class="text-white ml-5" style="width: 30em">
                    <strong>
                        We are a bunch of coders, engineers and executives brought together by our single vision.
                        At Navimate, customers are our top priority. We provide 24/7 customer support and have a dedicated team of developers to build, optimize and enhance the software.
                        Our product serves many customers in different industries adn is used by thousands of engineers pan India to get their work done quickly.
                        If you have more questions about navimate or would like to know how the software can be customized to your needs, feel free to give is a shout out.
                    </strong>
                </div>
            </div>
        </div>
    </div>
</div>