<!-- ContactPage View -->
<div class="navigation d-flex flex-row justify-content-around w3-hide-small" id="navbar-fixed">
    <button class="p-3 m-2 btn btn-background-white nav-item"><strong>SOLUTIONS</strong></button>
    <button class="p-3 m-2 btn btn-background-white nav-item"><strong>PRICING</strong></button>
    <button class="p-3 m-2 btn btn-background-white nav-item"><strong>SUPPORT</strong></button>
    <div class="ml-auto d-flex flex-row justify-content-end">
        <button class="p-3 m-2 btn btn-background-white nav-item"><strong>LOGIN</strong></button>
        <button class="p-3 m-2 btn btn-background-white nav-item"><strong>REGISTER</strong></button>
    </div>
</div>

<div class="navigation justify-content-around w3-hide-medium w3-hide-large" id="navbar-fixed-scroll">
    <button class="p-3 m-1 btn btn-background-white w3-mobile"><strong>SOLUTIONS</strong></button>
    <button class="p-3 m-1 btn btn-background-white w3-mobile"><strong>PRICING</strong></button>
    <button class="p-3 m-1 btn btn-background-white w3-mobile"><strong>SUPPORT</strong></button>
    <div class="ml-auto d-flex justify-content-end w3-mobile">
        <button class="p-3 m-1 btn btn-background-white w3-mobile"><strong>LOGIN</strong></button>
        <button class="p-3 m-1 btn btn-background-white w3-mobile"><strong>REGISTER</strong></button>
    </div>
</div>
<div class="bg">
    <div class="container">
        <div style="text-align:center">
            <h2>Contact Us</h2>
            <p>Swing by for a cup of coffee, or leave us a message:</p>
        </div>
        <div class="row">
            <div class="column">
                <div id="map" style="width:100%;height:500px"></div>
            </div>
            <div class="column">
                <form action="" method="post">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" placeholder="Your name..">
                    <label for="contact">Contact</label>
                    <input type="text" id="contact" name="contact" placeholder="Enter email / phone no.">
                    <label for="title">Title</label>
                    <input type="text" id="title" name="title" placeholder="Title">
                    <label for="desc">Description</label>
                    <textarea id="desc" name="desc" placeholder="Write something.." style="height:170px"></textarea>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <div class="d-flex flex-column align-items-center justify-content-center background-grey">
        <div class="d-flex flex-row justify-content-center">
            <img class="footer-image" src="images/logo_text.png">
            <img class="footer-image-icon" src="images/logo_icon_white.png"/>
        </div>
    </div>
    <div class="p-3 d-flex flex-column justify-content-center background-black">
        <div class="footer-content-1 d-flex p-3 justify-content-around">
            <div class="p-3 m-2 flex-column align-items-start">
                <div><a href="#"><strong> Mauris in turpis</strong></a></div>
                <div><a href="#"><strong> Mauris in turpis</strong></a></div>
                <div><a href="#"><strong> Mauris in turpis</strong></a></div>
            </div>
            <div class="p-3 m-2 flex-column align-items-start">
                <div><a href="#"><strong> SERVICES</strong></a></div>
                <div><a href="#"><strong> Lorem ipsum dolor</strong></a></div>
                <div><a href="#"><strong> consectetur adipiscing elit</strong></a></div>
            </div>
            <div class="p-3 m-2 flex-column align-items-start">
                <div><a href="#"><strong> SHOWCASE</strong></a></div>
                <div><a href="#"><strong> WIDGETKIT</strong></a></div>
                <div><a href="#"><strong> SUPPORT</strong></a></div>
            </div>
            <div class="p-3 m-2 flex-column align-items-start">
                <div><a href ng-click="aboutus()"><strong> ABOUT US</strong></a></div>
                <div><a href ng-click="contact()"><strong> CONTACT US</strong></a></div>
                <div><a href="#"><strong> AFFILIATES</strong></a></div>
                <div><a href="#"><strong> RESOURCES</strong></a></div>
            </div>
            <div class="m-2 d-flex flex-row align-items-start justify-content-start w3-hide-small">
                <a href="#" class="m-1"><div class="facebook-logo"></div></a>
                <a href="#" class="m-1"><div class="twitter-logo"></div></a>
                <a href="#" class="m-1"><div class="google-logo"></div></a>
                <a href="#" class="m-1"><div class="linkedin-logo"></div></a>
            </div>
        </div>

        <div class="p-4 d-flex justify-content-end">
            <div class="mr-auto d-flex flex-row align-items-start justify-content-start w3-hide-large w3-hide-medium">
                <a href="#" class="m-1"><div class="facebook-logo"></div></a>
                <a href="#" class="m-1"><div class="twitter-logo"></div></a>
                <a href="#" class="m-1"><div class="google-logo"></div></a>
                <a href="#" class="m-1"><div class="linkedin-logo"></div></a>
            </div>
            <div class="d-flex flex-column text-grey justify-content-center">&copy;Copyright. All rights reserved</div>
        </div>
    </div>
</div>