<!-- ContactPage View -->
<div class="navigation d-flex flex-row justify-content-around" id="navbar1">
    <button class="p-3 m-2 btn btn-background-white nav-item"><strong>SOLUTIONS</strong></button>
    <button class="p-3 m-2 btn btn-background-white nav-item"><strong>PRICING</strong></button>
    <button class="p-3 m-2 btn btn-background-white nav-item"><strong>SUPPORT</strong></button>
    <div class="ml-auto d-flex flex-row justify-content-end">
        <button class="p-3 m-2 btn btn-background-white nav-item"><strong>LOGIN</strong></button>
        <button class="p-3 m-2 btn btn-background-white nav-item"><strong>REGISTER</strong></button>
    </div>
</div>
<div class="contactbg">
    <div class="container">
        <div style="text-align:center">
            <h2>Contact Us</h2>
            <p>Swing by for a cup of coffee, or leave us a message:</p>
        </div>
        <div class="row">
            <div class="column">
                <div id="map" style="width:100%;height:500px"></div>
            </div>
            <div class="column">
                <form action="/action_page.php">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" placeholder="Your name..">
                    <label for="contact">Contact</label>
                    <input type="text" id="contact" name="contact" placeholder="Enter email / phone no.">
                    <label for="title">Title</label>
                    <input type="text" id="title" name="title" placeholder="Title">
                    <label for="desc">Description</label>
                    <textarea id="desc" name="desc" placeholder="Write something.." style="height:170px"></textarea>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
</div>

    <div class="footer">
        <div class="d-flex flex-column align-items-center justify-content-center background-grey">
            <img class="footer-image" src="images/logo_text.png">
        </div>
        <div class="p-3 d-flex flex-column justify-content-center background-black">
            <div class="footer-content-1 d-flex p-3 justify-content-around">
                <div class="p-3 m-2 flex-column align-items-start">
                    <div><a href="#"><strong> Mauris in turpis</strong></a></div>
                    <div><a href="#"><strong> Mauris in turpis</strong></a></div>
                    <div><a href="#"><strong> Mauris in turpis</strong></a></div>
                </div>
                <div class="p-3 m-2 flex-column align-items-start">
                    <div><a href="#"><strong> SERVICES</strong></a></div>
                    <div><a href="#"><strong> Lorem ipsum dolor</strong></a></div>
                    <div><a href="#"><strong> consectetur adipiscing elit</strong></a></div>
                </div>
                <div class="p-3 m-2 flex-column align-items-start">
                    <div><a href="#"><strong> SHOWCASE</strong></a></div>
                    <div><a href="#"><strong> WIDGETKIT</strong></a></div>
                    <div><a href="#"><strong> SUPPORT</strong></a></div>
                </div>
                <div class="p-3 m-2 flex-column align-items-start">
                    <div><a href="#"><strong> ABOUT US</strong></a></div>
                    <div><a href ng-click="contact()"><strong> CONTACT US</strong></a></div>
                    <div><a href="#"><strong> AFFILIATES</strong></a></div>
                    <div><a href="#"><strong> RESOURCES</strong></a></div>
                </div>
                <div class="m-2 d-flex flex-row align-items-start justify-content-start">
                    <a href="#" class="m-1"><div class="facebook-logo"></div></a>
                    <a href="#" class="m-1"><div class="twitter-logo"></div></a>
                    <a href="#" class="m-1"><div class="google-logo"></div></a>
                    <a href="#" class="m-1"><div class="linkedin-logo"></div></a>
                </div>
            </div>

            <div class="p-4 d-flex justify-content-end">
                <div class="text-grey">&copy;Copyright. All rights reserved</div>
            </div>
        </div>
    </div>
