<!-- Homepage View -->
<div class="navigation justify-content-around w3-hide-small" id="navbar">
    <a class="p-3 m-1 btn btn-background-white w3-mobile" href="#solutions"><strong>SOLUTIONS</strong></a>
    <a class="p-3 m-1 btn btn-background-white w3-mobile" href="#features"><strong>FEATURES</strong></a>
    <a class="p-3 m-1 btn btn-background-white w3-mobile" href ng-click="aboutus()"><strong>ABOUT US</strong></a>
    <div class="ml-auto d-flex justify-content-end w3-mobile">
        <button class="p-3 m-2 btn btn-background-white" ng-click="login()"><strong>LOGIN</strong></button>
        <button class="p-3 m-2 btn btn-background-white" ng-click="register()"><strong>REGISTER</strong></button>
    </div>
</div>
<div id="navbar-menu-mobile">
    <div class="navigation justify-content-end w3-hide-medium w3-hide-large align-items-center">
        <div class="mr-auto">
            <img class="header-navimate-text-image" src="images/logo_text.png">
        </div>
        <div class="con">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
    </div>

    <div class="navigation justify-content-around w3-hide-medium w3-hide-large" id="navbar-fixed-scroll">
        <a class="p-3 m-1 btn btn-background-white w3-mobile" href="#solutions"><strong>SOLUTIONS</strong></a>
        <a class="p-3 m-1 btn btn-background-white w3-mobile" href="#features"><strong>FEATURES</strong></a>
        <a class="p-3 m-1 btn btn-background-white w3-mobile" href ng-click="aboutus()"><strong>ABOUT US</strong></a>
        <div class="ml-auto d-flex justify-content-end w3-mobile">
            <button class="p-3 m-2 btn btn-background-white" ng-click="login()"><strong>LOGIN</strong></button>
            <button class="p-3 m-2 btn btn-background-white" ng-click="register()"><strong>REGISTER</strong></button>
        </div>
    </div>
</div>
<div class="bg header d-flex flex-column justify-content-between" id="header">
    <div class="navigation justify-content-around w3-hide-small">
        <a class="p-3 m-1 btn btn-background-white w3-mobile" href="#solutions"><strong>SOLUTIONS</strong></a>
        <a class="p-3 m-1 btn btn-background-white w3-mobile" href="#features"><strong>FEATURES</strong></a>
        <a class="p-3 m-1 btn btn-background-white w3-mobile" href ng-click="aboutus()"><strong>ABOUT US</strong></a>
        <div class="ml-auto d-flex flex-row justify-content-end">
            <button class="p-3 m-2 btn btn-background-white" ng-click="login()"><strong>LOGIN</strong></button>
            <button class="p-3 m-2 btn btn-background-white" ng-click="register()"><strong>REGISTER</strong></button>
        </div>
    </div>
    <div class="d-flex flex-column justify-content-center">
        <div class="mt-5 title d-flex flex-column align-items-center">
            <div class="p-2 d-flex justify-content-center">
                <div class="d-flex flex-column align-items-end">
                    <img class="title-image w3-hide-small" src="images/logo_text.png">
                    <img class="title-image-small w3-hide-large w3-hide-medium" src="images/logo_text.png">
                    <div class="text-white w3-hide-large w3-hide-medium"><h2>Field Operations Made Easy</h2></div>
                    <div class="text-white w3-hide-small"><h1>Field Operations Made Easy</h1></div>
                </div>
                <img class="title-image-icon w3-hide-small" src="images/logo_icon_white.png"/>
                <img class="title-image-small w3-hide-large w3-hide-medium" src="images/logo_icon_white.png">
            </div>

            <div class="mt-5 d-flex align-items-center">
                <h4 class="text-white text-xenter">
                    <strong>
                        A software that strives to bridge the communication gap between office and field. Try it for free and scale it for your operations quickly. <br>
                        Navimate aims to increase transparency into fieldwork by using a strict yet privacy-aware workflow. <br>
                    </strong>
                </h4>
            </div>
            <button class="mt-5 btn btn-outline-white" ng-click="register()"><strong>Sign Up For Free</strong></button>
        </div>
    </div>
    <div class="d-flex flex-column align-items-center">
        <div class="text-white mb-2"><strong>more...</strong></div>
        <a href="#solutions" class=" ct-btn-scroll ct-js-btn-scroll"><div class="p-2 text-white arrow bounce"></div></a>
    </div>
</div>

<div class="content-1 pt-3 pb-3 background-grey-1">
    <div class="fbx-oriented p-5 justify-content-around animation-element slide-left" id="solutions">
        <div class="fbx-oriented-reverse flex-1 align-items-center p-5 justify-content-start">
            <img class="feature-icon" src="images/ic_automation_blue.png"/>
            <div class="d-flex flex-column align-items-center">
                <div class="pb-2"><h5><strong>Automate</strong></h5></div>
                <div class="text-grey text-center">
                    <strong>
                        Automate your operations using cloud based system designed to streamline field operations.
                        Upload data using custom templates and manage day to day activities using Navimate dashboard and app.
                    </strong>
                </div>
            </div>
        </div>
        <div class="fbx-oriented-reverse flex-1 align-items-center p-5 justify-content-start">
            <img class="feature-icon" src="images/ic_da_blue.png"/>
            <div class="d-flex flex-column align-items-center">
                <div class="pb-2"><h5><strong>Analyze</strong></h5></div>
                <div class="text-grey text-center">
                    <strong>
                        Powerful analytics with a variety of filters, sorters & table customizers.
                        Export to excel and backup your data for added security.
                    </strong>
                </div>
            </div>
        </div>
        <div class="fbx-oriented-reverse flex-1 align-items-center p-5 justify-content-start">
            <img class="feature-icon" src="images/ic_sol_3.png"/>
            <div class="d-flex flex-column align-items-center">
                <div class="pb-2"><h5><strong>Secure</strong></h5></div>
                <div class="text-grey text-center">
                    <strong>
                        Secure your operations with a multitude of anti-theft features.
                        Reduce expense costs and increase team productivity
                    </strong>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-2 pt-3 pb-3 background-white" id="features">
    <div class="flex-style pt-5 justify-content-around animation-element slide-left">
        <img class="featur-image align-items-end" src="images/feature2.png"/>
        <div class="pr-5 pl-5 flex-column align-items-start">
            <div class="pb-2"><h3><strong>Viewing</strong></h3></div>
            <div class="text-grey"><strong>Import, filter, sort, customize & export your data using Navimate tables.
                </strong></div>
        </div>
    </div>

    <div class="flex-style-alt pt-5 justify-content-around animation-element slide-left">

        <div class="pl-5 flex-column align-items-start">
            <div class="pb-2"><h3><strong>Templating</strong></h3></div>
            <div class="text-grey"><strong>
                Templates provides a highly customizable
                way of editing and viewing your data.
                Choose from a list of fields and create
                as many templates as you like.</strong></div>
        </div>
        <img class="featur-image align-items-end" src="images/feature1.png"/>
    </div>

    <div class="flex-style pt-5 justify-content-around animation-element slide-left">
        <img class="featur-image align-items-end" src="images/feature3.png"/>
        <div class="pr-5 pl-5 flex-column align-items-start">
            <div class="pb-2"><h3><strong>Editing </strong></h3></div>
            <div class="text-grey"><strong>A multi-selector interface with different
                types of pickers, selectors and filler components
                lets you edit large amounts of data quickly</strong></div>
        </div>
    </div>
</div>

<div class="footer">
    <div class="d-flex flex-column align-items-center justify-content-center background-grey p-1">
        <div id="back-top"><a href="#navbar" class=" ct-btn-scroll ct-js-btn-scroll mt-1"><div class="text-white arrow-up bounce"></div></a></div>
        <div class="d-flex flex-row justify-content-center align-items-center">
            <img class="footer-image" src="images/logo_text.png">
            <img class="footer-image-icon" src="images/logo_icon_white.png"/>
        </div>
    </div>
    <div class="p-3 d-flex flex-column justify-content-center background-black">
        <div class="footer-content-1 d-flex p-3 justify-content-around">
            <div class="flex-column align-items-start">
                <h4><strong>Contact Us</strong></h4>
                <div class="ml-1"><strong>+91 95451 05368</strong></div>
                <div class="ml-1"><strong>navimateapp@gmail.com</strong></div>
            </div>
            <div class="flex-column align-items-start">
                <h4><strong>For Business</strong></h4>
                <div><a href="#solutions"><strong>Solutions</strong></a></div>
                <div><a href="#features"><strong>Features</strong></a></div>
                <div><a href ng-click="login()"><strong>Login</strong></a></div>
                <div><a href ng-click="register()"><strong>Register</strong></a></div>
            </div>
            <div class="flex-column align-items-start">
                <h4><strong>Download</strong></h4>
                <div><a href ng-click="androidApp()"><strong>Android</strong></a></div>
            </div>
            <div class="flex-column align-items-start">
                <h4><strong>Navimate</strong></h4>
                <div><a href ng-click="aboutus()"><strong>About Us</strong></a></div>
                <div><a href ng-click="legal()"><strong>Legal</strong></a></div>
            </div>
            <div class="m-2 d-flex flex-row align-items-start justify-content-start w3-hide-small">
                <a href ng-click="facebook()" class="m-1"><div class="facebook-logo"></div></a>
                <a href ng-click="twitter()" class="m-1"><div class="twitter-logo"></div></a>
                <a href ng-click="linkedin()" class="m-1"><div class="linkedin-logo"></div></a>
            </div>
        </div>

        <div class="p-4 d-flex justify-content-end">
            <div class="mr-auto d-flex flex-row align-items-start justify-content-start w3-hide-large w3-hide-medium">
                <a href ng-click="facebook()" class="m-1"><div class="facebook-logo"></div></a>
                <a href ng-click="twitter()" class="m-1"><div class="twitter-logo"></div></a>
                <a href ng-click="linkedin()" class="m-1"><div class="linkedin-logo"></div></a>
            </div>
            <div class="d-flex flex-column text-grey justify-content-center">&copy;Copyright. All rights reserved</div>
        </div>
    </div>
</div>