<!-- Homepage View -->
<div class="navigation d-flex flex-row justify-content-around" id="navbar">
    <button class="p-3 m-2 btn btn-background-white nav-item"><strong>SOLUTIONS</strong></button>
    <button class="p-3 m-2 btn btn-background-white nav-item"><strong>PRICING</strong></button>
    <button class="p-3 m-2 btn btn-background-white nav-item"><strong>SUPPORT</strong></button>
    <div class="ml-auto d-flex flex-row justify-content-end">
        <button class="p-3 m-2 btn btn-background-white nav-item"><strong>LOGIN</strong></button>
        <button class="p-3 m-2 btn btn-background-white nav-item"><strong>REGISTER</strong></button>
    </div>
</div>
<div class="header bg" id="header">
    <div class="header-content">
        <div class="navigation d-flex flex-row justify-content-around">
            <button class="p-3 m-2 btn btn-background-white nav-item"><strong>SOLUTIONS</strong></button>
            <button class="p-3 m-2 btn btn-background-white nav-item"><strong>PRICING</strong></button>
            <button class="p-3 m-2 btn btn-background-white nav-item"><strong>SUPPORT</strong></button>
            <div class="ml-auto d-flex flex-row justify-content-end">
                <button class="p-3 m-2 btn btn-background-white nav-item"><strong>LOGIN</strong></button>
                <button class="p-3 m-2 btn btn-background-white nav-item"><strong>REGISTER</strong></button>
            </div>
        </div>

        <div class="mt-5 title d-flex flex-column align-items-center">
            <div class="p-2 d-flex flex-row justify-content-center">
                <div class="d-flex flex-column align-items-end">
                    <img class="title-image" src="images/logo_text.png">
                    <div class="text-white"><h1>Field Operations Made Easy</h1></div>
                </div>
                <img class="title-image-icon" src="images/logo_icon_white.png"/>

            </div>
            <div class="text-white"><strong> Have agents in field ?</strong></div>
            <div class="text-white"><strong>Trouble Managing the team ?</strong></div>
            <div class="text-white"><strong>Too much data to handle ?</strong></div>
            <div class="mb-2 text-white"><strong>Don't know what to do ?</strong></div>
            <div class="mb-5 text-white"><strong>Navimate is here !!!</strong></div>
            <button class="mb-5 btn btn-outline-white nav-item"><strong><h3>Sign Up For Free</h3></strong></button>

            <div class="text-white"><strong>more...</strong></div>
            <a href="#section2" class=" ct-btn-scroll ct-js-btn-scroll"><div class="p-2 text-white arrow bounce"></div></a>
        </div>
    </div>
</div>

<div class="content-1 pt-3 pb-3 background-grey-1">
    <div class="d-flex p-5 justify-content-around animation-element slide-left" id="section2">
        <div class="d-flex p-5 justify-content-start">
            <img class="feature-icon align-items-end" src="images/logo_icon.png"></img>
            <div class="flex-column align-items-start">
                <div class="pb-2"><h5><strong>Lorem Ipsum generators on</strong></h5></div>
                <div class="text-grey"><strong>Lorem Ipsum is simply dummy</strong></div>
                <div class="text-grey"><strong>since the 1500s, when</strong></div>
                <div class="text-grey"><strong>more recently with desktop</strong></div>
                <div class="text-grey"><strong>Lorem Ipsum is not simply</strong></div>
                <div class="text-grey"><strong>and going through the cites</strong></div>
            </div>
        </div>
        <div class="d-flex p-5 justify-content-start">
            <img class="feature-icon align-items-end" src="images/logo_icon.png"></img>
            <div class="flex-column align-items-start">
                <div class="pb-2"><h5><strong>standard chunk of Lorem</strong></h5></div>
                <div class="text-grey"><strong>Lorem Ipsum generators on</strong></div>
                <div class="text-grey"><strong>If you are going to use</strong></div>
                <div class="text-grey"><strong>There are many variations of</strong></div>
                <div class="text-grey"><strong>many variations of passages of</strong></div>
                <div class="text-grey"><strong>There are many variations of passages</strong></div>
            </div>
        </div>
        <div class="d-flex p-5 justify-content-start">
            <img class="feature-icon align-items-end" src="images/logo_icon.png"></img>
            <div class="flex-column align-items-start">
                <div class="pb-2"><h5><strong>There are many variations of</strong></h5></div>
                <div class="text-grey"><strong>Lorem Ipsum generators on</strong></div>
                <div class="text-grey"><strong>standard chunk of Lorem</strong></div>
                <div class="text-grey"><strong>many variations of passages of</strong></div>
                <div class="text-grey"><strong>If you are going to use</strong></div>
            </div>
        </div>
    </div>
</div>

<div class="content-2 pt-3 pb-3 background-white">
    <div class="d-flex pt-5 justify-content-around animation-element slide-left">
        <img class="feature-image align-items-end" src="images/naviii.png"></img>
        <div class="pr-5 flex-column align-items-start">
            <div class="pb-2"><h3><strong>It is a long established fact that</strong></h3></div>
            <div class="text-grey"><strong>There are many variations of passages</strong></div>
            <div class="text-grey"><strong>text. All the Lorem Ipsum generators on</strong></div>
            <div class="text-grey"><strong>It is a long established fact that</strong></div>
            <div class="text-grey"><strong>words, combined with a handful of</strong></div>
            <div class="text-grey"><strong>The first line of Lorem Ipsum,</strong></div>
        </div>
    </div>

    <div class="d-flex pt-5 justify-content-around animation-element slide-left">

        <div class="pl-5 flex-column align-items-start">
            <div class="pb-2"><h3><strong>Trouble Managing the team ?</strong></h3></div>
            <div class="text-grey"><strong>All the Lorem Ipsum generators</strong></div>
            <div class="text-grey"><strong>words, combined with a handful of</strong></div>
            <div class="text-grey"><strong>Trouble Managing the team ?</strong></div>
            <div class="text-grey"><strong>There are many variations of</strong></div>
            <div class="text-grey"><strong>All the Lorem Ipsum generators</strong></div>
        </div>
        <img class="feature-image align-items-end" src="images/naviii.png"></img>
    </div>

    <div class="d-flex pt-5 justify-content-around animation-element slide-left">
        <img class="feature-image align-items-end" src="images/naviii.png"></img>
        <div class="pr-5 flex-column align-items-start">
            <div class="pb-2"><h3><strong>The first line of Lorem Ipsum,</strong></h3></div>
            <div class="text-grey"><strong>Hampden-Sydney College in Virginia,</strong></div>
            <div class="text-grey"><strong>There are many variations of</strong></div>
            <div class="text-grey"><strong>All the Lorem Ipsum generators</strong></div>
            <div class="text-grey"><strong>epeat predefined chunks as necessary,</strong></div>
            <div class="text-grey"><strong>It is a long established fact that</strong></div>
        </div>
    </div>

    <div class="d-flex pt-5 justify-content-around animation-element slide-left">

        <div class="pl-5 flex-column align-items-start">
            <div class="pb-2"><h3><strong>All the Lorem Ipsum generators</strong></h3></div>
            <div class="text-grey"><strong>Hampden-Sydney College in Virginia,</strong></div>
            <div class="text-grey"><strong>epeat predefined chunks as necessary,</strong></div>
            <div class="text-grey"><strong>Trouble Managing the team ?</strong></div>
            <div class="text-grey"><strong>There are many variations of</strong></div>
            <div class="text-grey"><strong>The first line of Lorem Ipsum,</strong></div>
        </div>
        <img class="feature-image align-items-end" src="images/naviii.png"></img>
    </div>
</div>

<div class="footer">
    <div class="d-flex flex-column align-items-center justify-content-center background-grey">
        <div id="back-top"><a href="#navbar" class=" ct-btn-scroll ct-js-btn-scroll"><div class="text-white arrow-up bounce"></div></a></div>
        <img class="footer-image" src="images/logo_text.png">
    </div>
    <div class="p-3 d-flex flex-column justify-content-center background-black">
        <div class="footer-content-1 d-flex p-3 justify-content-around">
            <div class="p-3 m-2 flex-column align-items-start">
                <div><a href="#"><strong> Mauris in turpis</strong></a></div>
                <div><a href="#"><strong> Mauris in turpis</strong></a></div>
                <div><a href="#"><strong> Mauris in turpis</strong></a></div>
            </div>
            <div class="p-3 m-2 flex-column align-items-start">
                <div><a href="#"><strong> SERVICES</strong></a></div>
                <div><a href="#"><strong> Lorem ipsum dolor</strong></a></div>
                <div><a href="#"><strong> consectetur adipiscing elit</strong></a></div>
            </div>
            <div class="p-3 m-2 flex-column align-items-start">
                <div><a href="#"><strong> SHOWCASE</strong></a></div>
                <div><a href="#"><strong> WIDGETKIT</strong></a></div>
                <div><a href="#"><strong> SUPPORT</strong></a></div>
            </div>
            <div class="p-3 m-2 flex-column align-items-start">
                <div><a href="#"><strong> ABOUT US</strong></a></div>
                <div><a href ng-click="contact()"><strong> CONTACT US</strong></a></div>
                <div><a href="#"><strong> AFFILIATES</strong></a></div>
                <div><a href="#"><strong> RESOURCES</strong></a></div>
            </div>
            <div class="m-2 d-flex flex-row align-items-start justify-content-start">
                <a href="#" class="m-1"><div class="facebook-logo"></div></a>
                <a href="#" class="m-1"><div class="twitter-logo"></div></a>
                <a href="#" class="m-1"><div class="google-logo"></div></a>
                <a href="#" class="m-1"><div class="linkedin-logo"></div></a>
            </div>
        </div>

        <div class="p-4 d-flex justify-content-end">
            <div class="text-grey">&copy;Copyright. All rights reserved</div>
        </div>
    </div>
</div>