<!-- Legal HTML Page -->
<div class="text-white p-3">
    <header>
        <h1>Navimate Legal Information</h1>
    </header>

    <div>
        <h3 id="last_updated">Last Updated at : 1-Oct-2017 8:00 PM +5:30</h3>
        <h2 id="contents">Contents</h2>
        <ul>
            <li>About this document</li>
            <li>Personal Information</li>
            <li>Collection</li>
            <li>Storage</li>
            <li>Sharing</li>
            <li>Protection</li>
            <li>Changes in Policy</li>
        </ul>
    </div>

    <article>

        <nav class="to-top"><a href="#contents">back to top</a></nav>
        <section>
            <h1 id="about_document">About this document :</h1>
            <p> This document contains privacy policy for Navimate App. This includes declaration about collection, usage, retention and protection of personal informaton that may be shared voluntarily or involuntarily by the user. We recommend reading this document if you have concerns about privacy breach while using Navimate. <br><br>
                By using the mobile app or any services provided by Navimate App, user declares that :
            <ul>
                <li>he/she is atleast 14 years old</li>
                <li>he/she agrees with the privacy policy of Navimate App</li>
                <li>he/she will use the app for lawful purposes only</li>
            </ul>
            </p>
        </section>

        <nav class="to-top"><a href="#contents">back to top</a></nav>
        <section>
            <h1 id="personal_info">Personal information :</h1>
            <p>
                As used herein, the term "personal information" is defined as any information that identifies the user. This information may also be used in some circumstances to create aggregate information for the overall users of the app.
                <br><br>Navimate App collects sensitive information such as user's name, phone number, location, phone contacts and any other custom information that is asked while using the app. To enhance user experience, we also collect your device information such as model nuber, android version etc... This helps us streamline our services for all devices and provide you a better experience.
            </p>
        </section>

        <nav class="to-top"><a href="#contents">back to top</a></nav>
        <section>
            <h1 id="collection">Collection :</h1>
            <p>
                Navimate App collects information through different ways.
            <ul>
                <li>user may prompt an action in the software (such as sharing location)</li>
                <li>user may respond to software prompts (such as location requests)</li>
                <li>user may enable services to run in background (such as sharing tracking)</li>
            </ul>
            <br/>For complete transparency, Navimate App shows a permanent notification to the user whenever his/her location is being shared.

            <br/><br/> In case of an app crash, some device information may get transferred to a secure database for later analysis. This helps us catch bugs in our software. We do not share this information with any entity and only use it for software enhancement.
            </p>
        </section>

        <nav class="to-top"><a href="#contents">back to top</a></nav>
        <section>
            <h1 id="storage">Storage :</h1>
            <p>
                Navimate maintains high quality and secure servers on certified third party cloud platforms. User's personal information may be stored temporarily or permanently on this server.

                <br></br> If the user has registered with his phone number on the navimate app, his phone number is stored on the server. Uninstalling the app may not necessarily remove this data. If you have any complaints if Navimate and would like to remove your information permanently, you may contact us. We will provide you a valid timeframe.

                <br/><br/> User's location is stored on the server only temporarily for the duration of tracking.
            </p>
        </section>

        <nav class="to-top"><a href="#contents">back to top</a></nav>
        <section>
            <h1 id="sharing">Sharing :</h1>
            <p>
                Navimate App only uses the data for lawful purposes. Sensitive data is shared with user authorized recipients only. Devic information is not shared with any third parties / contacts without user consent.
            </p>
        </section>

        <nav class="to-top"><a href="#contents">back to top</a></nav>
        <section>
            <h1 id="protection">Protection :</h1>
            <p>
                Navimate uses high quality servers with additional security protocols. Our software algorithms ensure that data is not sharing unauthorized persons. However, no security measures are perfect and there may be flaws in our software. We assure our users that we will do our best to catch and remove any such flaws.
            </p>
        </section>

        <nav class="to-top"><a href="#contents">back to top</a></nav>
        <section>
            <h1 id="changes">Changes in this policy :</h1>
            <p>
                This document is tracked by a last updated date and time. Any major chnages in this policy will be intimated to user through SMS / notifications. We encourage users to check this link frequently to stay updated.
            </p>
        </section>

    </article>
</div>